:root {
  --common-bg-color: rgba(255, 255, 255, 1);
  --navigation-color-bg: rgba(255, 255, 255, 1);
  --comon-text: #020202;
  --clients-card-bg: rgba(255, 252, 245, 1);
}
[data-theme='dark'] {
  --common-bg-color: #2e2e2e;
  --navigation-color-bg: rgba(76, 75, 75, 0.9);
  --comon-text: #e1dcdc;
  --clients-card-bg: rgba(76, 75, 75, 0.9);
}
/*@media (prefers-color-scheme: dark) {*/
body {
  background-color: var(--common-bg-color);
  color: var(--comon-text);
}
.navigation__list {
  background-color: var(--navigation-color-bg);
  color: #020202;
}
.navigation__list a {
  color: #020202;
  background-color: transparent;
}
/*.navigation_link {*/
/*  background-color: var(--navigation-color-bg);*/
/*}*/
.work_card__titel {
  color: var(--comon-text);
}
.skill_card__title {
  color: var(--comon-text);
}

img.skill_card__img,
img.header__image,
img.card_logo__image {
  background-color: var(--common-bg-color);
}
.footer__button {
  background-color: var(--comon-text);
  color: var(--navigation-color-bg);
}
.client_card {
  background-color: var(--clients-card-bg);
  color: #020202;
}
/*}*/
>>>>>>> Stashed changes
