:root {
  --commpn-dark: #2e2e2e;
  --navigation-dark: rgba(21, 20, 20, 0.9);
  --comon-text-white: #e1dcdc;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--commpn-dark);
    color: var(--comon-text-white);
  }
  .navigation__list {
    background-color: var(--navigation-dark);
    color: var(--comon-text-white);
  }
  .navigation__list a {
    color: var(--comon-text-white);
  }
  .navigation_link {
    background-color: var(--navigation-dark);
  }
  .work_card__titel {
    color: var(--comon-text-white);
  }
  .skill_card__title {
    color: var(--comon-text-white);
  }
  .client_card {
    background-color: var(--commpn-dark);
  }
  img.skill_card__img,
  img.header__image,
  img.card_logo__image {
    background-color: var(--commpn-dark);
  }
  .footer__button {
    background-color: var(--comon-text-white);
    color: var(--navigation-dark);
  }
}
