.skill_card-gallery {
  display: flex;
  padding: 180px 140px;
  gap: 125px;
}
.skill_card {
  text-align: center;
}
.skill_card__img {
  padding-bottom: 56px;
  /*height: 130px;*/
  object-fit: contain;
  width: 100%;
}
.skill_card__title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
}
.skill_card__discription {
  font-size: 16px;
  font-weight: 400;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.skill_card:hover {
  animation: shake 0.5s ease-in-out;
}

@media screen and (max-width: 375px) {
  .skill_card-gallery {
    flex-direction: column;
    padding: 150px 63px;
  }
  .skill_card__img {
    object-fit: contain;
    width: 100%;
  }
  .skill_card {
    /*width: 315px;*/
  }
}
@media screen and (max-width: 768px) {
  .skill_card-gallery {
    flex-wrap: wrap;
    width: 100%;
    padding: 80px 80px;
    box-sizing: border-box;
    gap: 100px;
    justify-content: center;
  }
}
