* {
  margin: 0;
  padding: 0;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  padding: 26px 50px;
  justify-content: space-between;
  position: sticky;
  /*background-color: rgba(255, 255, 255, 1);*/
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation_link {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 17px;
  background-color: transparent;
}

.navigation_logo {
  font-weight: bold;
  font-size: 20px;
}
.navigation__list a {
  text-decoration: none;
}
.header__menu-button {
  display: none;
}
.navigation_button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dark_theme,
.light_theme {
  width: 20px;
  height: auto;
  object-fit: contain;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .navigation_link {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s linear,
      opacity 0.3s ease;
    /*transition: opacity 0.3s ease;*/
    opacity: 0;
    height: 100%;
    width: 25%;
    text-align: center;
    padding-top: 25px;
    gap: 25px;
  }

  .navigation_link.active {
    transform: translateX(0);
    opacity: 1;
    /*transition: opacity 0.3s ease;*/
  }

  .header__menu-button {
    display: block;
    margin-left: auto;
    width: 24px;
    height: auto;
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    object-fit: contain;
  }
  .header__menu-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .cross,
  .burger {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  .cross.visible,
  .burger.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
