.hero_image{
    display: flex;
    padding: 100px;
    gap: 10px;
    justify-content: center;
    /*background-color: khaki;*/

}
.header_image img{
    height: 424px;
}
.header_text{
    align-items: center;
}
.text{
    font-size: 17px;
}
.main_text{
    font-size: 80px;
}