.client_card-gallery {
  display: flex;
  padding-top: 55px;
  gap: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.client_card-info {
  display: flex;
}
.client_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid rgba(255, 210, 133, 1);
  background-color: rgba(255, 252, 245, 1);
  height: 344px;

  width: 316px;
  padding: 30px;
  box-sizing: border-box;
}
.client_card__text {
  font-size: 20px;
  font-weight: 600;
}
.client_card__title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.client_card-all {
  padding: 100px;
  padding-bottom: 150px;
}

@media screen and (max-width: 375px) {
  .client_card-gallery {
    flex-direction: column;
    align-items: center;
  }
  .client_card-all {
    padding: 60px 30px 90px 30px;
  }
  .client_card {
    width: 100%;
    max-width: 315px;
    object-fit: contain;
    margin: 0 auto;
  }
  .client_card:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .client_card-gallery {
    justify-content: center;
    gap: 30px;
  }
}
