.work_section-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 100px 20px 100px;
}
.work_card__titel {
  font-weight: 600;
  font-size: 20px;
}
.work_card__discription {
  font-size: 16px;
  font-weight: 400;
}
.work_card {
  padding-bottom: 60px;
}
.work_section__text {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.work_section {
  padding-top: 20px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.work_card:hover {
  animation: shake 0.5s ease-in-out;
}

@media screen and (max-width: 375px) {
  .work_section-gallery {
    flex-direction: column;
    padding: 40px 30px 40px 30px;
  }
  .work_card__image {
    object-fit: contain;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .work_section-gallery {
    justify-content: center;
    gap: 30px;
  }
}
