* {
  margin: 0;
  padding: 0;
}

.gallery_logo__list {
  display: flex;
  padding: 60px 100px;
  justify-content: space-between;
  /*background-color: olivedrab;*/
  border: 0.5px solid gray;
}
.card_logo__image {
  transition: transform 0.3s linear;
}
.card_logo__image:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 375px) {
  .gallery_logo__list {
    flex-direction: unset;
    flex-wrap: wrap;
    padding: 0 66px;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 760px) {
  .gallery_logo__list {
    flex-direction: unset;
    flex-wrap: wrap;
    padding: 0 66px;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .gallery_logo__list {
    padding: 60px;
  }
}
